<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">
</head>
<body>
<div class="logodiv">
    <img src="{% static 'website/icons/logo.png' %}" 
        height=200;
        width=150;
        alt="logo-png" 
        >
</div>
<div class="topbar">
    {% if not logged %}
        <a href="/signin">
            <button class="signin-button">
                <img src="{% static 'website/icons/login.png' %}" 
                alt="login-png" 
                width="20" 
                height="20">
                Sign In
            </button>
        </a> 
    {% else %}
        <div class="personal-submenu-div">
            <a href="/personal" class="personal">
                <button>
                    {{ name }}
                </button>
            </a>
            <div class="submenu">
                {% if isCoach == True %}
                    <a href="/coach/edit_welcome">
                        <button class="personal-button">
                            Edit Welcome
                        </button>
                    </a>
                    <a href="/coach/view_news">
                        <button class="personal-button">
                            Edit News
                        </button>
                    </a>
                    <a href="/coach/edit_team_contacts">
                        <button class="personal-button">
                            Edit Team Contacts
                        </button>
                    </a>
                    <a href="/coach/mail_list">
                        <button class="personal-button">
                            Mail List
                        </button>
                    </a>
                    <a href="/coach/team_downloads">
                        <button class="personal-button">
                            Edit Team Downloads
                        </button>
                    </a>
                    <a href="/coach/training">
                        <button class="personal-button">
                            Training
                        </button>
                    </a>
                    <a href="/coach/honours">
                        <button class="personal-button">
                            Honours
                        </button>
                    </a>
                    <a href="/coach/players">
                        <button>
                            Players
                        </button>
                    </a>
                    <a href="/coach/fixtures">
                        <button>
                            Fixtures
                        </button>
                    </a>
                    <a href="/coach/pitches">
                        <button>
                            Pitches
                        </button>
                    </a>
                {% endif %}
                    <button class="personal-button">
                        <a href="/faq">Help</a><br>
                    </button>
        </div>
    </div>
        <a href="/logout">
            <button class="signin-button">
                <img src="{% static 'website/icons/login.png' %}" 
                alt="logout-png" 
                width="20" 
                height="20">
                Log Out
            </button>
        </a>
    {% endif %}
    <div class="mainsponsors">
        {% for s in sponsors %} <a href={{s.url}}> <img src={{s.banner.url}} {% endfor %}
        <!--TODO use template to set main sponsors-->
    </div>
</div>
<div class="navbar">
    <div class="submenu-div">
        <a href="/events">
            <button class="navbar-button">
                Events
            </button>
        </a>
        <div class="submenu">
            <a href="/events/tournaments">
                <button class="submenu-button">Tournaments</button>
            </a>
            <a href="/events/fundraising">
                <button class="submenu-button">Fundraising Events</button>
            </a>
        </div>
    </div>

    <div class="submenu-div">
        <a href="/sponsors">
            <button class="navbar-button">
                Sponsors
            </button>
        </a>
    </div>
    <div class="submenu-div">
        <a href=teams>
            <button class="navbar-button">
                Teams
            </button>
        </a>
    </div>
    <div class="submenu-div">
        <a href="/about">
            <button class="navbar-button">
                About
            </button>
        </a>
        <div class="submenu">
            <a href="/about/contacts">
                <button class="submenu-button">Club Contacts</button>
            </a>
            <a href="/about/ethos">
                <button class="submenu-button">Club Ethos</button>
            </a>
            <a href="/about/news">
                <button class="submenu-button">News</button><br>
            </a>
            <a href="/about/links">
                <button class="submenu-button">Links</button>
            </a>
            <a href="/about/3g-astro">
                <button class="submenu-button">3G Astro</button>
            </a>
            <a href="/about/directions">
                <button class="submenu-button">Directions</button>
            </a>
            <a href="/about/calendar">
                <button class="submenu-button">Club Calendar</button>
            </a>
            <a href="/about/joinus">
                <button class="submenu-button">Join WJFC</button>
            </a>
        </div>
    </div>
    <a href="/">
        <div class="submenu-div">
            <button class="navbar-button">
                Home
            </button>
        </div>
    </a>

</div>
<div class="sociallinks">
        <h1>Where to find us</h1>
        <a href="https://www.facebook.com/WendoverJuniorFootball/">
            <img src="{% static 'website/icons/facebook-logo.png' %}"
            height=32;
            width=32;>
            </img>
        </a>
        <a href="https://twitter.com/wendoverjuniors?lang=en">
            <img src="{% static 'website/icons/twitter-logo.png' %}"
            height=32;
            width=32;>
            </img>
        </a>
        <a href="https://www.youtube.com/c/WendoverJuniorFootballClub/videos">
            <img src="{% static 'website/icons/youtube-logo.png' %}"
            height=32;
            width=32;>
            </img>
        </a>
    </div>
<div class="send_mail_form">
    <h1>New Mail</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            {{form.as_table}}
            <tr>
                <td>&nbsp;</td>
                <td><input class="submit-input" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
<div class="bottom">
    <img class="bottom-logo" src="{% static 'website/icons/logo.png' %}" 
        height=200;
        width=150;
    >
    <div class="important">
        <h1>IMPORTANT</h1>
        <a href="/about/welfare">
            club welfare
        </a>
        <br>
        <a href="/about/docs">
            documents & policies
        </a>
        <br>
        <a href="/about/priv">
            privacy policy
        </a>
        <br>
    </div>
    <div class="about_bottom">
        <h1>ABOUT</h1>
        <p>
            Wendover Junior Football Club started in 1978 and has over 300 players from Under 6 to Under 14 playing in the South Bucks Mini-Soccer Conference, Wycombe and South Bucks Minor Football League and South Bucks Youth League
        </p>
    </div>
    <div class="links_bottom">
        <h1>WHERE TO FIND US</h1>
        <a href="https://www.facebook.com/WendoverJuniorFootball/">FACEBOOK</a><br>
        <a href="https://twitter.com/wendoverjuniors?lang=en">TWITTER</a><br>
        <a href="https://www.youtube.com/c/WendoverJuniorFootballClub/videos">YOUTUBE</a><br>
        <a href="/about/directions">DIRECTIONS</a>
    </div>
</div>
</body>
</html>
