<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8" />
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">
</head>
<body>
<div class=set-time>
    <form action="" method="post" novalidate>
        <table>
            {% csrf_token %}
            {{form.as_table}}
            <tr>
                <td>&nbsp;</td>
                <td><input class="submit-input" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
