<div class="bottom">
    <img class="bottom-logo" src="{% static 'website/icons/logo.png' %}" 
        height=200;
        width=150;
    >
    <div class="important">
        <h1>IMPORTANT</h1>
        <a href="/about/welfare">
            club welfare
        </a>
        <br>
        <a href="/about/welfare">
            documents & policies
        </a>
        <br>
        <a href="/about/welfare">
            privacy policy
        </a>
        <br>
    </div>
    <div class="about_bottom">
        <h1>ABOUT</h1>
        <p>
            PLACEHOLDER
        </p>
    </div>
    <div class="links_bottom">
        <h1>WHERE TO FIND US</h1>
        <a href="https://www.facebook.com/WendoverJuniorFootball/">FACEBOOK</a><br>
        <a href="https://twitter.com/wendoverjuniors?lang=en">TWITTER</a><br>
        <a href="https://www.youtube.com/c/WendoverJuniorFootballClub/videos">YOUTUBE</a><br>
        <a href="/about/directions">DIRECTIONS</a>
    </div>
</div>
